html,
body{
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.main-page{
    background: linear-gradient(271deg, #a5deff 1.14%, #fcfefe 100%);
}

.main-page-text-container{

    border-radius: 40px;
    background: #fff;
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;

/*width: 573px;
height: 476px;*/
}

.main-page-btn{

    background: #ff6b0a;
    border: none;
    border-radius: 8px;
padding: 12px 24px;
width: 172px;
height: 48px;
    color: #fff;

    /*font-family: "Montserrat", sans-serif;*/
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
    cursor: pointer;
}
.logo{
margin-top: 32px;
margin-bottom: 60px;
}
.main-page-text-hello{
/*font-family: "Montserrat",
sans-serif;*/
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: #1b1d1f;
margin-top: 0;
margin-bottom: 60px;
}
.main-page-text-title{
/*font-family: "Montserrat",
sans-serif;*/
font-weight: 600;
font-size: 64px;
line-height: 112%;
color: #1b1d1f;
margin-top: 0;
margin-bottom: 24px;
}
.main-page-text-descr{
    /*
font-family: "Montserrat",
sans-serif;*/
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #1b1d1f;
margin-top: 0;
margin-bottom: 32px;
}
.gus-facts{
    text-align: center;
    padding-top: 48px;
    padding-bottom: 100px;
}
.gus-facts-descr{
/* font-family: "Montserrat", sans-serif;*/
        font-weight: 400px;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #1b1d1f;
        width: 772px;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 24px;
}
.gus-fact-item-title{
    /*font-family: "Montserrat", sans-serif;*/
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: #1b1d1f;
        margin-top: 8px;
        margin-bottom: 32px;
}
.gus-fact-item-descr{
    /*font-family: "Montserrat", sans-serif;*/
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #1b1d1f;
        margin: 0;
}
.gus-fact-item{
    width: 374px;
}
.gus-f-descr{

    /*font-family: "Montserrat", sans-serif;*/
        font-weight: 600;
        font-size: 48px;
        line-height: 150%;
        color: #1b1d1f;
        margin-top: 24px;
        margin-bottom: 31px;

}
.form-page{
    background: linear-gradient(271deg, #a5deff 1.14%, #fcfefe 100%);
    padding-top: 80px;
    padding-bottom: 80px;
}
.form{

    border-radius: 40px;
        width: 573px;
        height: 564px;
        background: #fff;
        padding-top: 32px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
        box-sizing: border-box;
        margin: auto;
        text-align: center;
}

.form-title{
font-family: "Montserrat",
sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 100%;
color: #1b1d1f;
margin-top: 32px;
margin-bottom: 12px;
}

.form-descr{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1b1d1f;
        margin-bottom: 24px;

}
.form-input{
    border: 1px solid #005bbb;
        border-radius: 8px;
        width: 453px;
        height: 60px;
        background: #fff;
        font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #1b1d1f;
            padding-left: 12px;
            padding-right: 12px;
}

form-label{
font-family: "Montserrat",
sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #1b1d1f;
margin-bottom: 8px;

}
.form-field{
    text-align:left ;
    margin-bottom: 24px;
}
.form-btn{
    background: #ff6b0a;
    border-radius: 8px;
        padding: 12px 24px;
        width: 172px;
        height: 48px;
        border: none;
        /*font-family: "Montserrat", sans-serif;*/
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
            padding-top: 12px;
            padding-left: 24px;
            padding-bottom: 12px;
            padding-right: 24px;
            cursor: pointer;
            margin-top: 48px;

}

.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}
